[Unit]
Description=RadioTrack Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/radiotrack/RadioTrack/site
User=radiotrack
ExecStart=/usr/bin/python /home/radiotrack/RadioTrack/site/run.py

[Install]
WantedBy=multi-user.target
